[submodule "mujoco_rust/mujoco"]
	path = mujoco_rust/mujoco
	url = git@github.com:davidhozic/mujoco.git
	branch = feature/non-blocking-loop
[submodule "fuzbai-agent"]
	path = fuzbai-agent
	url = git@github.com:davidhozic/fuzbai-agent.git
