[workspace]
resolver = "3"
members = [
    "mujoco_rust",
    "simulation",
    "mujoco-model-compiler"  # Converts XML to MJB
]

[profile.release]
opt-level = 3
codegen-units = 1
lto = "fat"
panic = "abort"
strip = "symbols"
